@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color1:#FFFFFF;
    --color2:#E8EDEB;
    --color3:#FF4000;
    --color4:#002552;
    --color5:#041725;

    --font-main: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    border: 1px solid var(--color2);
    background-color: var(--color4);
}


/*main blocks*/
html{
    scroll-behavior: smooth;
}

.body{
    background-color: var(--color2);
}

.main{
    margin-bottom: 100px;
}


.section{
    min-height: 100vh;
    
    padding: 100px 0px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.dark{
    background-color: var(--color5);
}
.dark .h1, .dark .h2, .dark .p{
    color: var(--color2);
}


.block{
    max-width: 1100px;

    margin: 50px 10px;
}



/*images and icons*/

.profile{
    width: 200px;
    height: 200px;
    margin: 50px auto 150px auto;

    background-color: var(--color1);
    border-radius: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.icon-x{
    width: 100%;
}


.icon-contact{
    width: 50px;
    height: 50px;

    padding: 1px;

    display: grid;
    justify-items: center;
    align-items: center;

    background-color: var(--color2);
    fill: var(--color5);
    border-radius: 100%;

    transition: all .3s ease;
}
.icon-contact__icon{
    width: calc(100% - 15px) ;
}


/*Text*/
.strong{
    font-weight: 800;
    font-size: 1.1em;
}
.strong--flashy{
    text-shadow: 3px 3px 0px var(--color5);
}

.h1{
    padding: 20px;

    font: 800 normal 2.2em var(--font-main);
    color: var(--color5);
    text-align: center;
}
.h1 > .strong{
    color: var(--color3);
}
.h1--small{
    font-size: 1.8em;
}


.h2{
    padding: 15px;

    font: 800 normal 1.5em var(--font-main);
    color: var(--color5);
    text-align: center;
}


.p{
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;

    font: normal normal 1.1em var(--font-main);
    color: var(--color5);
    text-align: center;
    line-height: 2em;
}


/*interactive elements*/
.a{
    font: normal normal 1em var(--font-main);
    text-decoration: none;
    color: var(--color5);
    
    transition: all .3s ease;
}
.a:active{
    color: var(--color3);

    transition: all .1s ease;
}

.a--text{
    position: relative;
    color: var(--color4);
}
.a--text::after{
    content: " ";

    width: 0%;
    height: 2px;

    display: block;

    position: absolute;
    bottom: -2px;

    background-color: var(--color4);
    transition: all .3s ease;
}
.a--text:active::after{
    background-color: var(--color3);
    transition: all .1s ease;
}

.a--text-flashy{
    color: var(--color3);
}
.a--text-flashy::after{
    background-color: var(--color3);
}
.a--text-flashy:active{
    color: var(--color5);
}
.a--text-flashy:active:after{
    background-color: var(--color5);
}

.a--button{
    padding: 7px 10px;
    
    border: 1px solid var(--color5);
    border-radius: 50px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.a--button:active{
    border-color: var(--color3);
    box-shadow: none;

    transform: translate(1px, 1px);
}
.a--button-inverted{
    background-color: var(--color5);
    color: var(--color2);
    border-color: var(--color2);
}


.a--block{
    width: 200px;

    display: grid;
    justify-items: center;
    align-content: center;

    color: var(--color2);
}
.a--block .p{
    font-size: 1em;
    color: inherit;
    line-height: 1.5em;
}
.a--block:active{
    transform: scale(.85);
    transition: all .1s ease;
}


.button{
    cursor: pointer;

    padding: 10px 15px;
    margin: 25px 0px;

    background-color: var(--color2);
    font: 600 normal 1.1em var(--font-main);
    color: var(--color5);
    border: 1px solid var(--color5);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
 
    border-radius: 50px;
    
    transition: all .3s ease;
}
.button:active{
    color: var(--color3);
    border-color: var(--color3);
    box-shadow: none;

    transform: translate(1px, 1px);
    transition: all .1s ease;
}

.button--flashy{
    color: var(--color3);
    border-color: var(--color3);
}
.button--flashy:active{
    color: var(--color1);
    border-color: var(--color1);
}

.button--inverted{
    background-color: var(--color5);
    border-color: var(--color2);
    color: var(--color2);
}
.button--inverted:active{
    border-color: var(--color3);
    color: var(--color3);
}
.button--inverted-flashy{
    background-color: var(--color3);
    border: none;
    color: var(--color5);
}
.button--inverted-flashy:active{
    background-color: var(--color1);
    border: none;
    color: var(--color5);
}



/*organization elements*/
.justify-center{
    justify-self: center;
}
.justify-left{
    justify-self: start;
}
.justify-right{
    justify-self: end;
}

.flex-center-elements{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 40px;
}

.carousel{
    overflow-x: scroll;

    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    gap: 20px;
}