@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color1:#FFFFFF;
    --color2:#E8EDEB;
    --color3:#FF4000;
    --color4:#002552;
    --color5:#041725;

    --font-main: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



::-webkit-scrollbar{
    width: 0px;
    height: 0px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    border: 1px solid var(--color2);
    background-color: var(--color4);
}


/*main blocks*/
html{
    scroll-behavior: smooth;
}

.body{
    background-color: var(--color2);
}


.header{
    padding: 20px;
    margin-bottom: 100px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px;
    align-items: center;
}


.main{
    margin-bottom: 100px;
}


.section{
    padding: 100px 0px;
    margin: 50px 0px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.dark{
    background-color: var(--color5);
}
.dark .h1, .dark .h2, .dark .p{
    color: var(--color2);
}


.block{
    max-width: 1100px;

    margin: 50px 10px 100px 10px;
}


.information-message{
    cursor: none;

    padding: 10px 0px;
    width: 100vw;

    position: fixed;
    bottom: 0px;

    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.5);

    transform: translate(0px, 100%);
    transition: all .5s ease .3s;
}
.information-message--on{
    transform: translate(0px, 0px);
    transition: all .3s ease;
}
.information-message .h1{
    padding: 10px;
    
    font-size: 1.3em;
    font-weight: 600;
}
.information-message .p{
    padding: 0px 10px;

    font-size: .9em;
    font-weight: 400;
    line-height: 1.5em;
}


.project{
    overflow: hidden;
    position: relative;

    width: 300px;
    height: 169px;

    display: grid;
    justify-items: center;
    align-items: center;

    border-radius: 10px;

    transition: all .3s ease;
}
.project-small{
    max-width: 300px;
    max-height: 169px;
}
.project:hover .project__img, .project:focus-within .project__img{
    transform: scale(0);
}
.project:hover .project__description, .project:focus-within .project__description{
    transform: scale(1);
}

.project__img{
    width: 100%;
    height: 100%;

    transition: all .3s ease;
}

.project__description{
    width: 100%;
    height: 100%;

    position: absolute;

    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;

    transform: scale(0);
    transition: all .3s ease;
}
.project__description .h1{
    font-size: 1.3em;
}
.project__description .button{
    margin: 0px;
}


.footer{
    padding: 50px 10px;
}


/*images and icons*/
.logo{
    width: 40px;
    height: 40px;

    fill: var(--color5);
}

.profile{
    width: 200px;
    height: 200px;
    margin: 50px auto 150px auto;

    background-color: var(--color1);
    border-radius: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.skill{
    cursor: pointer;
    width: 80px;
    height: 80px;

    padding: 20px;

    display: grid;
    align-items: center;
    justify-items: center;

    background-color: var(--color5);
    fill: var(--color2);
    border: 2px solid transparent;
    border-radius: 5px;

    transition: all .3s ease;
}
.skill:hover, .skill:focus{
    background-color: var(--color1);
    border-color: var(--color5);
    outline: none  ;
    fill: var(--color5);
}
.skill__icon{
    width: 100%;
    height: 100%;
}


.icon-x{
    width: 100%;
}


/*Text*/
.strong{
    font-weight: 800;
    font-size: 1.1em;
}
.strong--flashy{
    text-shadow: 3px 3px 0px var(--color5);
}

.h1{
    padding: 20px;

    font: 800 normal 2.2em var(--font-main);
    color: var(--color5);
    text-align: center;
}
.h1 > .strong{
    color: var(--color3);
}
.h1--small{
    font-size: 1.8em;
}


.h2{
    padding: 15px;

    font: 800 normal 1.5em var(--font-main);
    color: var(--color5);
    text-align: center;
}


.p{
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;

    font: normal normal 1.1em var(--font-main);
    color: var(--color5);
    text-align: center;
    line-height: 2em;
}


/*interactive elements*/
.a{
    font: normal normal 1em var(--font-main);
    text-decoration: none;
    color: var(--color5);
    border-color: var(--color5);
    
    transition: all .3s ease;
}
.a:active{
    color: var(--color3);
    border-color: var(--color3);
    box-shadow: none;

    transform: translate(1px, 1px);
    transition: all .1s ease;
}

.a--text{
    position: relative;
    color: var(--color4);
}
.a--text:focus{
    border: none;
    outline: none;
}
.a--text::after{
    content: " ";

    width: 0%;
    height: 2px;

    display: block;

    position: absolute;
    bottom: -2px;

    background-color: var(--color4);
    transition: all .3s ease;
}
.a--text:hover::after, .a--text:focus::after{
    width: 100%;
}
.a--text:active::after{
    background-color: var(--color3);
    transition: all .1s ease;
}

.a--text-flashy{
    color: var(--color3);
}
.a--text-flashy::after{
    background-color: var(--color3);
}
.a--text-flashy:active{
    color: var(--color5);
}
.a--text-flashy:active:after{
    background-color: var(--color5);
}

.a--button{
    padding: 7px 10px;
    
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.a--button-inverted{
    background-color: var(--color5);
    color: var(--color2);
    border-color: var(--color2);
}


.button{
    cursor: pointer;

    padding: 10px 15px;
    margin: 25px 0px;

    background-color: var(--color2);
    font: 600 normal 1.1em var(--font-main);
    color: var(--color5);
    border: 1px solid var(--color5);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
 
    border-radius: 50px;
    
    transition: all .3s ease;
}
.button:active{
    color: var(--color3);
    border-color: var(--color3);
    box-shadow: none;

    transform: translate(1px, 1px);
    transition: all .1s ease;
}

.button--flashy{
    color: var(--color3);
    border-color: var(--color3);
}
.button--flashy:active{
    color: var(--color1);
    border-color: var(--color1);
}

.button--inverted{
    background-color: var(--color5);
    border-color: var(--color2);
    color: var(--color2);
}
.button--inverted:active{
    border-color: var(--color3);
    color: var(--color3);
}
.button--inverted-flashy{
    background-color: var(--color3);
    border: none;
    color: var(--color5);
}
.button--inverted-flashy:active{
    background-color: var(--color1);
    border: none;
    color: var(--color5);
}


.size-selection-about-me{
    margin: 50px 0px 25px 0px;

    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}
.size-selection-about-me__text-demo{
    font: 300 normal .9em var(--font-main);
    color: rgb(107, 107, 107);
}
.size-selection-about-me__button{
    cursor: pointer;

    width: 20px;
    height: 20px;

    background-color: var(--color2);
    border: none;
    border-radius: 100%;

    transition: all .3s ease;
}
.size-selection-about-me__button--active{
    background-color: var(--color3);
}
.size-selection-about-me__text{
    transition: all .3s ease;
}
.size-selection-about-me__text--off{
    padding: 0px;
    margin: 0px;

    font-size: 0px;
}


.screen-project{
    z-index: 2;

    width: 300px;
    height: 500px;

    padding: 10px;

    position: fixed;
    top: 50%;
    left: 50%;

    display: none;
    grid-template-rows: 1fr 2fr 2fr 0.9fr auto;
    justify-items: center;
    align-items: center;

    background-color: var(--color1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    transform: translate(-50%, -50%) scale(0);
    transition: all .3s ease;
}
.screen-project--on-display{
    display: grid;
}
.screen-project--on-scale{
    transform: translate(-50%, -50%) scale(1);
}

.screen-project__button-return{
    cursor: pointer;

    width: 30px;

    padding: 2px 2px 0px 2px;

    position: absolute;
    top: 10px;
    left: 10px;


    background-color: transparent;
    border: none;
    border-radius: 50px;
    fill: var(--color4);

    transition: all .3s ease;
}
.screen-project__button-return:hover, .screen-project__button-return:focus{
    outline: none;
    transform: rotate(90deg);
}
.screen-project__button-return:active{
    fill: var(--color3);

    transition: all .1s ease;
}

.screen-project .h1{
    font-size: 1.5em;
}
.screen-project .p{
    padding: 0px 10px;
    margin: 0px;
    font-size: .9em;
    line-height: 1.5em;
}

.screen-project__images{
    width: 100%;
    height: fit-content;

    padding-bottom: 5px;
}
.screen-project__images::-webkit-scrollbar{
    height: 4px;
}

.screen-project__img{
    width: 200px;
    height: 112px;
}

.screen-project__sub-text{
    font: 600 normal .8em var(--font-main);
    color: var(--color4);
    text-align: center;
    line-height: 1.5em;
}

.screen-project__nav{
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
}


/*organization elements*/
.justify-center{
    justify-self: center;
}
.justify-left{
    justify-self: start;
}
.justify-right{
    justify-self: end;
}

.flex-center-elements{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 40px;
}

.carousel{
    overflow-x: scroll;

    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    gap: 20px;
}