@charset "UTF-8";

.screen-project{
    width: 500px;
    height: 320px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 0.9fr auto;
    grid-template-areas: "title title"
    "link link" 
    "images description" 
    "subtitle subtitle";

    gap: 10px;
}

.screen-project .h1{
    padding: 0px;
    grid-area: title;
}

.screen-project .p{
    grid-area: description;
}

.screen-project__images{
    grid-area: images;
}

.screen-project__sub-text{
    grid-area: subtitle;
}

.screen-project__nav{
    grid-area: link;
}