@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color1:#FFFFFF;
    --color2:#E8EDEB;
    --color3:#FF4000;
    --color4:#002552;
    --color5:#041725;

    --font-main: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}


/*main blocks*/
.body{
    background-color: var(--color2);
}


.header{
    padding: 20px;
    margin-bottom: 100px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px;
    align-items: center;
}


.main{
    margin-bottom: 100px;
}


.section{
    margin: 150px 0px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.dark{
    padding: 100px 0px;

    background-color: var(--color5);
}
.dark .h1, .dark .h2, .dark .p{
    color: var(--color2);
}


.block{
    max-width: 1100px;

    margin: 50px 10px 100px 10px;
}


/*images and icons*/
.logo{
    width: 40px;
    height: 40px;

    fill: var(--color5);
}

.profile{
    width: 200px;
    height: 200px;
    margin: 50px auto 150px auto;

    background-color: var(--color1);
    border-radius: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.skill{
    cursor: pointer;
    width: 80px;
    height: 80px;

    padding: 20px;

    display: grid;
    align-items: center;
    justify-items: center;

    background-color: var(--color5);
    fill: var(--color2);
    border: 2px solid transparent;
    border-radius: 5px;

    transition: all .3s ease;
}
.skill:hover{
    background-color: var(--color1);
    border-color: var(--color5);
    fill: var(--color5);
}
.skill__icon{
    width: 100%;
    height: 100%;
}


/*Text*/
.strong{
    font-weight: 800;
    font-size: 1.1em;
}
.strong--flashy{
    text-shadow: 3px 3px 0px var(--color5);
}

.h1{
    padding: 20px;

    font: 800 normal 2.2em var(--font-main);
    color: var(--color5);
    text-align: center;
}
.h1 > .strong{
    color: var(--color3);
}
.h1--small{
    font-size: 1.8em;
}


.p{
    max-width: 600px;
    margin: 10px 0px;
    padding: 10px;

    font: normal normal 1.1em var(--font-main);
    text-align: center;
    line-height: 2em;
}


/*interactive elements*/
.a{
    font: normal normal 1em var(--font-main);
    text-decoration: none;
    color: var(--color5);
    border-color: var(--color5);
    
    transition: all .3s ease;
}
.a:active{
    color: var(--color3);
    border-color: var(--color3);
    box-shadow: none;

    transform: translate(1px, 1px);
    transition: all .1s ease;
}

.a--button{
    padding: 7px 10px;
    
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


.button{
    cursor: pointer;

    padding: 10px 15px;
    margin: 25px 0px;

    background-color: var(--color2);
    font: 600 normal 1.1em var(--font-main);
    color: var(--color5);
    border: 1px solid var(--color5);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
 
    border-radius: 50px;
    
    transition: all .3s ease;
}
.button:active{
    color: var(--color3);
    border-color: var(--color3);
    box-shadow: none;

    transform: translate(1px, 1px);
    transition: all .1s ease;
}

.button--flashy{
    color: var(--color3);
    border-color: var(--color3);
}
.button--flashy:active{
    color: var(--color1);
    border-color: var(--color1);
}

.button--inverted{
    background-color: var(--color5);
    border-color: var(--color2);
    color: var(--color2);
}
.button--inverted:active{
    border-color: var(--color3);
    color: var(--color3);
}
.button--inverted-flashy{
    background-color: var(--color3);
    border: none;
    color: var(--color5);
}
.button--inverted-flashy:active{
    background-color: var(--color1);
    border: none;
    color: var(--color5);
}


.size-selection-about-me{
    margin: 50px 0px 25px 0px;

    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}
.size-selection-about-me__text-demo{
    font: 300 normal .9em var(--font-main);
    color: rgb(107, 107, 107);
}
.size-selection-about-me__button{
    cursor: pointer;

    width: 20px;
    height: 20px;

    background-color: var(--color2);
    border: none;
    border-radius: 100%;

    transition: all .3s ease;
}
.size-selection-about-me__button--active{
    background-color: var(--color3);
}
.size-selection-about-me__text{
    transition: all .3s ease;
}
.size-selection-about-me__text--off{
    padding: 0px;
    margin: 0px;

    font-size: 0px;
}


/*organization elements*/
.justify-center{
    justify-self: center;
}
.justify-left{
    justify-self: start;
}
.justify-right{
    justify-self: end;
}

.flex-center-elements{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 40px;
}