@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');

:root{
    --color1:#DFF8EB;
    --color2:#547AA5;
    --color3:#FF4000;
    --color4:#011936;
    --color5:#000c1b;

    --font-main: 'Ruda', sans-serif;
    --font-general: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}


.body{
    background-color: var(--color5);
}


.header{
    padding: 10px;
    margin-bottom: 50px;

    position: sticky;
    top: 0px;

    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 10px;

    background-color: var(--color5);
    border-bottom: 2px solid var(--color2);
}

.main{
    
}

.footer{

}


.h1{
    margin: 20px 0px 10px 0px;

    font: 800 normal 2em var(--font-main);
    color: var(--color2);
}

.h1--header{
    margin: 0px;

    font-size: 1.5em;
}


.h1 > .strong{
    color: var(--color3);
}


.nav{
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.header > .nav{
    position: absolute;
    left: 0px;
    top: 150px;

    justify-content: space-between;
}


.a{
    font: 600 normal 1em var(--font-general);
    color: var(--color2);
    text-decoration: none;
}


.menu-button{
    width: 40px;

    justify-self: end;

    fill: var(--color2);
}