@charset "UTF-8";

.screen-project{
    z-index: 2;

    width: 300px;
    height: 500px;

    padding: 10px;

    position: fixed;
    top: 50%;
    left: 50%;

    display: none;
    grid-template-rows: 1fr 2fr 2fr 0.9fr auto;
    justify-items: center;
    align-items: center;

    background-color: var(--color1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    transform: translate(-50%, -50%) scale(0);
    transition: all .3s ease;
}
.screen-project--on-display{
    display: grid;
}
.screen-project--on-scale{
    transform: translate(-50%, -50%) scale(1);
}

.screen-project__button-return{
    cursor: pointer;

    width: 30px;

    padding: 2px 2px 0px 2px;

    position: absolute;
    top: 10px;
    left: 10px;


    background-color: transparent;
    border: none;
    border-radius: 50px;
    fill: var(--color4);

    transition: all .3s ease;
}
.screen-project__button-return:hover, .screen-project__button-return:focus{
    outline: none;
    transform: rotate(90deg);
}
.screen-project__button-return:active{
    fill: var(--color3);

    transition: all .1s ease;
}

.screen-project .h1{
    font-size: 1.5em;
}
.screen-project .p{
    padding: 0px 10px;
    margin: 0px;
    font-size: .9em;
    line-height: 1.5em;
}

.screen-project__images{
    width: 100%;
    height: fit-content;

    padding-bottom: 5px;
}
.screen-project__images::-webkit-scrollbar{
    height: 4px;
}

.screen-project__img{
    width: 200px;
    height: 112px;
}

.screen-project__sub-text{
    font: 600 normal .8em var(--font-main);
    color: var(--color4);
    text-align: center;
    line-height: 1.5em;
}

.screen-project__nav{
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
}