@charset "UTF-8";


.project--emphasis{
    background-color: var(--color2);
}


.screen-project{
    z-index: 2;
    overflow-y: scroll;

    width: 100vw;
    height: 100vh;

    padding: 10px;

    position: fixed;
    top: 50%;
    left: 50%;

    display: none;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    gap: 50px;

    background-color: var(--color1);

    transform: translate(-50%, -50%) scale(0);
    transition: all .3s ease;
}
.screen-project--on-display{
    display: flex;
}
.screen-project--on-scale{
    transform: translate(-50%, -50%) scale(1);
}

.screen-project__button-return{
    cursor: pointer;

    width: 35px;

    padding: 2px 2px 0px 2px;

    position: absolute;
    top: 10px;
    left: 10px;


    background-color: transparent;
    border: none;
    border-radius: 50px;
    fill: var(--color4);

    transition: all .3s ease;
}
.screen-project__button-return:hover, .screen-project__button-return:focus{
    outline: none;
    transform: rotate(90deg);
}
.screen-project__button-return:active{
    fill: var(--color3);

    transition: all .1s ease;
}

.screen-project .h1{
    padding-top: 50px;
}
.screen-project .p{
    padding: 0px 10px;
    margin: 0px;
}

.screen-project__images{
    width: 100%;
    min-height: 210px;

    padding-bottom: 5px;
}
.screen-project__images::-webkit-scrollbar{
    height: 4px;
}

.screen-project__img{
    width: 350px;
    height: fit-content;
}

.screen-project__sub-text{
    font: 600 normal .8em var(--font-main);
    color: var(--color4);
    text-align: center;
    line-height: 1.5em;
}

.screen-project__nav{
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
}





@media screen and (min-width: 1025px){
    .project--emphasis{
        width: 500px;
    }
    
    
    .screen-project{
        gap: 100px;
    }

    .screen-project::-webkit-scrollbar{
        width: 10px;
    }
    
    .screen-project__images::-webkit-scrollbar{
        height: 10px;
    }

    .screen-project__images{
        min-height: 310px;
    }
    
    .screen-project__img{
        width: 500px;
    }

    .screen-project__nav{
        max-width: 800px;
    }
}