@charset "UTF-8";

.project{
    overflow: hidden;
    position: relative;

    width: 300px;
    height: 169px;

    display: grid;
    justify-items: center;
    align-items: center;

    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

    transition: all .3s ease;
}
.project:hover .project__img, .project:focus-within .project__img{
    filter: blur(3px);
}
.project:hover .project__description, .project:focus-within .project__description{
    transform: scale(1);
}

.project__img{
    width: 100%;
    height: 100%;

    transition: all .3s ease;
}

.project__description{
    width: 100%;
    height: 100%;

    position: absolute;

    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;

    transform: scale(0);
    transition: all .3s ease;
}
.project__description .h1{
    font-size: 1.3em;
}
.project__description .button{
    margin: 0px;
}