@charset "UTF-8";

.project{
    overflow: hidden;
    position: relative;

    width: 300px;

    padding: 10px 0px;

    display: grid;
    justify-items: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

    transition: all .3s ease;
}

.project__img{
    width: 100%;

    border-top: 1px solid var(--color4);
    border-bottom: 1px solid var(--color4);
}


.project__description{
    width: 100%;
    height: 100%;

    padding: 10px 15px;

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: flex-start;
    gap: 10px;

    transition: all .3s ease;
}
.project__description .button, .project__description .a--button{
    justify-self: flex-end;
    margin: 0px;
}
.project__sub-text{
    font: normal normal .85em var(--font-main);
    color: var(--color5);
    line-height: 1.3em;
}
.dark > .project__sub-text{
    color: var(--color2);
}

.project__sub-text span{
    font: normal 400 .85em var(--font-main);
}