@charset "UTF-8";


::-webkit-scrollbar{
    height: 10px;
    width: 10px;
}


.a--text:hover::after{
    width: 100%;
}

.a--button:hover{
    outline: none;
    transform: scale(.9);
}

.a--block:hover{
    color: var(--color3);
    outline: none;
}
.a--block:hover .icon-contact{
    background-color: var(--color3);
}

.button:hover{
    outline: none;
    transform: scale(0.9);
}

.not-scroll::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}

@media screen and (min-width: 1025px){
    .section{
        padding: 200px 0px;
    }
}