.h1 {
    font-family: var(--font-space-grotesk), sans-serif;
    font-weight: 700;
    font-size: 46px;
}
.h2 {
    font-family: var(--font-space-grotesk), sans-serif;
    font-weight: 700;
    font-size: 36px;
}
.h3 {
    font-family: var(--font-space-grotesk), sans-serif;
    font-weight: 500;
    font-size: 28px;
}
.h4 {
    font-family: var(--font-inter), sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.p1 {
    font-family: var(--font-inter), sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.p2 {
    font-family: var(--font-inter), sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.p3 {
    font-family: var(--font-inter), sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
}

.md > *:first-child {
    margin-top: 0;
}
.md > h1 {
    margin-top: 2.5rem;
    font-family: var(--font-space-grotesk), sans-serif;
    font-weight: 700;
    font-size: 46px;
}
.md > h2 {
    margin-top: 2rem;
    font-family: var(--font-space-grotesk), sans-serif;
    font-weight: 700;
    font-size: 36px;
}
.md > h3 {
    margin-top: 1.5rem;
    font-family: var(--font-space-grotesk), sans-serif;
    font-weight: 500;
    font-size: 28px;
}
.md > h4 {
    margin-top: 1.1rem;
    font-family: var(--font-inter), sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.md > p {
    margin-top: 0.5rem;
    font-family: var(--font-inter), sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.md ol, .md ul {
    margin-top: 0.5rem;
    margin-left: 2rem;

    font-family: var(--font-inter), sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3rem;
}