.projectContainer {
    text-align: justify;
}

.image{
    width: 100%;
    height: auto;
    border-radius: var(--border--radius);
}

.header{
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.title{
    text-align: center;
}
.technologiesIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.techIcon{
    width: 25px;
    height: 25px;
}

.actions{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.action{
    flex: 1;
}

@media screen and (min-width: 768px) {
    .header{
        flex-direction: row;
        justify-content: space-between;
    }
    .actions{
        justify-content: space-around;
    }
}

.backLink{
    z-index: 900;
    position: fixed;
    bottom: 16px;
    right: 16px;
}