.card{
    position: relative;
    overflow: hidden;
    
    max-width: 350px;
    width: 100%;
    padding-bottom: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: var(--color--surface);
    border-radius: var(--border--radius);
    box-shadow: var(--color--shadow);
    color: var(--color--on-surface);
}

.statusContainer{
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;

    padding: 2px 5px;

    background-color: var(--color--primary);
    color: var(--color--on-primary);
    border-end-start-radius: var(--border--radius);
}

.image{
    width: 100%;
    height: auto;
    border-top-left-radius: var(--border--radius);
    border-top-right-radius: var(--border--radius);
}

.header{
    padding: 0px 16px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.title{
    flex: 1;
}
.technologiesIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.summary{
    padding: 0px 16px;
    width: 100%;

    color: var(--color--secondary);
    text-align: justify;
}

.actions{
    padding: 0px 16px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.action{
    flex: 1;
}