.container{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;

    height: 60px;
    width: 100%;
    padding: 2px 16px;

    display: grid;
    grid-template-columns: 1fr 70px 1fr;
    grid-template-rows: 60px 0px;
    align-items: center;
    gap: 10px;
    
    -webkit-backdrop-filter: var(--backdrop--blur);
    backdrop-filter: var(--backdrop--blur);

    transition: all 0.3s ease;
}
.containerOpenMenu {
    height: 100vh;
    grid-template-rows: 60px 1fr;
}

.fill{
    height: 60px;
    width: 100%;
}

.logo{
    padding: 2px;
    width: 36px;
    
    fill: var(--color--on-background);
}

.menu{
    justify-self: end;
}

.menuNav{
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;

    scale: 0;
    opacity: 0;
    transition: all .3s ease;
}
.containerOpenMenu > .menuNav{
    scale: 1;
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .container{
        grid-template-columns: auto 70px 1fr;
    }
}